.header {
  background-color: #4A90E2;
  padding: 20px 40px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
}

.logo {
  widows: 240px;
  height: 25px;
}

.wrapper {
  display: flex;
  align-items: center;
}

.btn-profile {
  margin-right: 10px;
  color: white;
  font-weight: bold;
}
